button {
    margin: 20px 0 0 50px;
}


.button-1 {
    border: 2px solid;
    border-radius: 15px;
    width: 125px;
    height: 30px;
    color: mediumseagreen;
    border-color: mediumseagreen;
}

.button-2 {
    border: 2px solid;
    border-radius: 50%;
    border-color: mediumseagreen;
    background-color: mediumseagreen;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 200%;
}

.button-1:active, .button-2:active {
    background-color: rgb(136, 248, 185);
    color: forestgreen;
    transform: translateY(4px);
}


.button-3 {
    border: 2.5px solid;
    border-color: black;
    background-color: dodgerblue;
    color: white;
    width: 175px;
    height: 25px;
    box-shadow: 10px 5px 5px black;
}

.button-3:active {
    background-color: rgb(124, 189, 255);
    transform: translateY(4px);
}